/* your code here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
color: white;
font-family: sans-serif;
display: flex;
flex-direction:column;
padding-top:1rem;
}
.top{
    display: flex;
justify-content: space-between;
padding:1rem 1.3rem;
/* border:2px solid white; */
text-align: center;
}
.top .logo_name{
    font-size:2.4rem;
}
.top .media-icons{
    display: flex;
justify-content: space-evenly;
width: 378px;
}
.top .media-icons>a{
    text-decoration: none;
}
.media-icons img{
    width:50px;
height:45px;
}

/* link-boxes------------- */

.link-boxes{
 display: flex;
/* justify-content: space-evenly; */
justify-content: space-around;
margin:2rem 0;
}
.link-boxes>div{
text-align:left;
display:flex;
flex-direction:column;
}

.link-boxes>div>h3{
    font-size:1.5rem;
    font-weight:300;
    border-bottom:1px solid white;
    width:fit-content;
}
.link-boxes li{
    margin: 0.7rem 0;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color:rgba(247, 245, 245, 0.748);
}
.bottom-details{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 2rem;
    text-align: center;
    /* background-color:rgb(99, 114, 129); */
    background-color:rgb(81, 96, 111);
   
}
.bottom-details>h5{
    color:rgba(247, 245, 245, 0.748);
    font-size:1rem;
    font-weight:300;
}